/*basic reset */
*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: table;
    background: black;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

canvas {
  display:block;
}

#author {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color : #0F0;
    z-index : 1;
    box-sizing: border-box;
    vertical-align: middle;
}

span {
    font-family: monospace;
    font-size: 1.5em;
}

.navbar {
    color: green;
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
    border-color: green;
}
.container {
    color: green;


}

#left-side {
  border: 1.5px solid green;
  padding: auto;
}

h3 {
    color: green;
    text-align: left;

}
h4 {
    margin-left: 10px;

}
h5 {
    margin-left: 10px;

}

p {
    margin-left: 10px;

}

li {
    color: green;
    margin-left: 25px;
}

img {
    height: 40px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
