<!DOCTYPE html>
<html lang="en">

<head>
  <title>Charles Blumenthal's Site</title>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}" style="color: green">Charles Blumenthal's Site</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          {% if 'cv' in page_name %}
          <li><a class="active" href="{{url_for('cv')}}">CV</a></li>
          {% else %}
          <li><a href="{{url_for('cv')}}">CV</a></li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>
  <div class="container-fluid text-center">
    <div class="row content">

      <div class="col-sm-8 text-left">
        {% block content %} {% endblock %}


      </div>
    </div>
  </div>
  <div class="container">

    <p>Developed with: <img src="https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/logos/serverless-square-icon-text.png" alt="Serverless Framework" class="img-responsive" style="height:30px; display: inline-block; padding-right: 5px;"> Deployed with: <img src="https://about.gitlab.com/images/press/logo/wm.svg" alt="Serverless Framework" class="img-responsive" style="height:30px;display: inline-block;padding-right: 5px;"> Deployed to: <img src="https://futurumresearch.com/wp-content/uploads/2019/09/aws-logo-700x475.jpg" alt="Serverless Framework" class="img-responsive" style="height:30px; display: inline-block;padding-right: 5px;">
    </p>

  </div>
  <div class="container">Version: %%VERSION%% </div>


</body>

</html>
