{% extends "index.html" %}

{% block content %}
<div class="container" id="cv">
  <div class="row">

    <div class="col-lg-6">

      <u>
        <h3>Education</h3>
      </u>
      <div id="left-side">

        <u>
          <h4>University of Chicago</h4>
        </u>
        <h5>Masters in Analytics ● 2018</h5>
        <p>Coursework included computer science, statistics, machine learning, data engineering and teamwork dynamics</p>

        <u>
          <h4>City University of New York</h4>
        </u>
        <h5>Bachelors of Science in Political Science ● 2007</h5>
        <p>Coursework included Political Theory, American Government, International Relations & Comparative Politics</p>

      </div>


      <u>
        <h3>Latest Work Experience</h3>
      </u>
      <div id="left-side">
        <u>
          <h4>Data Engineer</h4>
        </u>

        <h5>GoHealth ● (04/2019 – present)</h5>
        <ul>
          <li>Developing robust ETL pipelines to support business activities primarily using Airflow, SQL Server, MySQL, Splunk and AWS in an Agile and CI/CD (Jenkins/Bitbucket) framework.</li>
          <li>To date have developed 20+ automated solutions that directly benefit the bottom line.</li>
        </ul>
        <br>
        <u>
          <h4>Data Analytics & Engineering Contractor</h4>
        </u>

        <h5>Hays/Capital One ● (05/2018 – 04/2019)</h5>
        <ul>
          <li>Core team member working on special projects related to critical business analytics activities in Capital One Partnerships.</li>
          <li>Designed infrastructure to process, store and access terabytes of data using Python, SQL, Databricks, AWS (s3, ec2), and Snowflake to support business monitoring activities for key partners.
          </li>
          <li>Developed near-real time business analytics data streams using Databricks and Tableau..</li>
        </ul>
        <br>
        <u>
          <h4>Data Science and Engineering Consultant</h4>
        </u>
        <h5>Self Employed ● (08/2015 – 04/2018)</h5>
        <ul>
          <li>Freelance short-term data analytics or engineering projects for small businesses and infividuals.</li>
          <li>
            Troubleshooted, developed and/or deployed applications primarily using AWS resources like lambda or DynamoDB.
          </li>
          <li>Developed custom Python programs for a range of utilities including web scraping, machine learning and task automation.</li>
        </ul>
        <br>
        <u>
          <h4>Marketing Analytics Manager</h4>
        </u>

        <h5>Land of Lincoln Health ● (07/2013 – 07/2015)</h5>
        <ul>
          <li>Strategic role in founding and growing health insurance company from zero to 50K members within 1 year
          </li>
          <li>Wrangled disparate and messy data into cohesive interactive business intelligence dashboard that drove decision-making on millions of dollars in resources</li>
          <li>Regularly counseled senior executive team on marketing-centric decision-making which enhanced profitability</li>
        </ul>
      </div>



    </div>

    <div class="col-lg-6">
      <canvas id="c"></canvas>
      <script src="{{ url_for('static', filename='js/matrix.js') }}"> </script>

    </div>




  </div>



</div>






{% endblock %}
